
NET "rows<0>" LOC = P137 | IOSTANDARD = LVTTL;
NET "rows<1>" LOC = P138 | IOSTANDARD = LVTTL;
NET "rows<2>" LOC = P139 | IOSTANDARD = LVTTL;
NET "rows<3>" LOC = P140 | IOSTANDARD = LVTTL;
NET "rows<4>" LOC = P141 | IOSTANDARD = LVTTL;
NET "rows<5>" LOC = P142 | IOSTANDARD = LVTTL;
NET "rows<6>" LOC = P143 | IOSTANDARD = LVTTL;

//NET "red<0>" LOC = P11 | IOSTANDARD = LVTTL;
//NET "red<1>" LOC = P12 | IOSTANDARD = LVTTL;
//NET "red<2>" LOC = P13 | IOSTANDARD = LVTTL;
//NET "red<3>" LOC = P14 | IOSTANDARD = LVTTL;
//NET "red<4>" LOC = P15 | IOSTANDARD = LVTTL;
//NET "red<5>" LOC = P16 | IOSTANDARD = LVTTL;
//NET "red<6>" LOC = P17 | IOSTANDARD = LVTTL;

NET "green<0>" LOC = P1 | IOSTANDARD = LVTTL;
NET "green<1>" LOC = P2 | IOSTANDARD = LVTTL;
NET "green<2>" LOC = P5 | IOSTANDARD = LVTTL;
NET "green<3>" LOC = P6 | IOSTANDARD = LVTTL;
NET "green<4>" LOC = P7 | IOSTANDARD = LVTTL;
NET "green<5>" LOC = P8 | IOSTANDARD = LVTTL;
NET "green<6>" LOC = P9 | IOSTANDARD = LVTTL;


NET "blue<0>" LOC = P11 | IOSTANDARD = LVTTL;
NET "blue<1>" LOC = P12 | IOSTANDARD = LVTTL;
NET "blue<2>" LOC = P14 | IOSTANDARD = LVTTL;
NET "blue<3>" LOC = P15 | IOSTANDARD = LVTTL;
NET "blue<4>" LOC = P16 | IOSTANDARD = LVTTL;
NET "blue<5>" LOC = P17 | IOSTANDARD = LVTTL;
NET "blue<6>" LOC = P21 | IOSTANDARD = LVTTL;

NET "button_right" LOC = P58 | IOSTANDARD = LVTTL | PULLUP;
NET "button_up" LOC = P67 | IOSTANDARD = LVTTL | PULLUP;
NET "button_down" LOC = P75 | IOSTANDARD = LVTTL | PULLUP;
NET "button_left" LOC = P79 | IOSTANDARD = LVTTL | PULLUP;