
NET "rows[0]" LOC = P137;
NET "rows[0]" IOSTANDARD = LVTTL;
NET "rows[1]" LOC = P138;
NET "rows[1]" IOSTANDARD = LVTTL;
NET "rows[2]" LOC = P139;
NET "rows[2]" IOSTANDARD = LVTTL;
NET "rows[3]" LOC = P140;
NET "rows[3]" IOSTANDARD = LVTTL;
NET "rows[4]" LOC = P141;
NET "rows[4]" IOSTANDARD = LVTTL;
NET "rows[5]" LOC = P142;
NET "rows[5]" IOSTANDARD = LVTTL;
NET "rows[6]" LOC = P143;
NET "rows[6]" IOSTANDARD = LVTTL;

//NET "red<0>" LOC = P11 | IOSTANDARD = LVTTL;
//NET "red<1>" LOC = P12 | IOSTANDARD = LVTTL;
//NET "red<2>" LOC = P13 | IOSTANDARD = LVTTL;
//NET "red<3>" LOC = P14 | IOSTANDARD = LVTTL;
//NET "red<4>" LOC = P15 | IOSTANDARD = LVTTL;
//NET "red<5>" LOC = P16 | IOSTANDARD = LVTTL;
//NET "red<6>" LOC = P17 | IOSTANDARD = LVTTL;

NET "green[0]" LOC = P1;
NET "green[0]" IOSTANDARD = LVTTL;
NET "green[1]" LOC = P2;
NET "green[1]" IOSTANDARD = LVTTL;
NET "green[2]" LOC = P5;
NET "green[2]" IOSTANDARD = LVTTL;
NET "green[3]" LOC = P6;
NET "green[3]" IOSTANDARD = LVTTL;
NET "green[4]" LOC = P7;
NET "green[4]" IOSTANDARD = LVTTL;
NET "green[5]" LOC = P8;
NET "green[5]" IOSTANDARD = LVTTL;
NET "green[6]" LOC = P9;
NET "green[6]" IOSTANDARD = LVTTL;


NET "blue[0]" LOC = P11;
NET "blue[0]" IOSTANDARD = LVTTL;
NET "blue[1]" LOC = P12;
NET "blue[1]" IOSTANDARD = LVTTL;
NET "blue[2]" LOC = P14;
NET "blue[2]" IOSTANDARD = LVTTL;
NET "blue[3]" LOC = P15;
NET "blue[3]" IOSTANDARD = LVTTL;
NET "blue[4]" LOC = P16;
NET "blue[4]" IOSTANDARD = LVTTL;
NET "blue[5]" LOC = P17;
NET "blue[5]" IOSTANDARD = LVTTL;
NET "blue[6]" LOC = P21;
NET "blue[6]" IOSTANDARD = LVTTL;

NET "seg_2[0]" LOC = P84;
NET "seg_2[0]" IOSTANDARD = LVTTL;
NET "seg_2[1]" LOC = P82;
NET "seg_2[1]" IOSTANDARD = LVTTL;
NET "seg_2[2]" LOC = P80;
NET "seg_2[2]" IOSTANDARD = LVTTL;
NET "seg_2[3]" LOC = P78;
NET "seg_2[3]" IOSTANDARD = LVTTL;
NET "seg_2[4]" LOC = P74;
NET "seg_2[4]" IOSTANDARD = LVTTL;
NET "seg_2[5]" LOC = P66;
NET "seg_2[5]" IOSTANDARD = LVTTL;
NET "seg_2[6]" LOC = P57;
NET "seg_2[6]" IOSTANDARD = LVTTL;
NET "seg_2<6>" LOC = P57 | IOSTANDARD = LVTTL

//NET "seg_1<7>" LOC = P87 | IOSTANDARD = LVTTL;
//NET "seg_1<8>" LOC = P92 | IOSTANDARD = LVTTL;
//NET "seg_1<9>" LOC = P94 | IOSTANDARD = LVTTL;

NET "seg_1[0]" LOC = P87;
NET "seg_1[0]" IOSTANDARD = LVTTL;
NET "seg_1[1]" LOC = P92;
NET "seg_1[1]" IOSTANDARD = LVTTL;
NET "seg_1[2]" LOC = P94;
NET "seg_1[2]" IOSTANDARD = LVTTL;
NET "seg_1[3]" LOC = P97;
NET "seg_1[3]" IOSTANDARD = LVTTL;
NET "seg_1[4]" LOC = P99;
NET "seg_1[4]" IOSTANDARD = LVTTL;
NET "seg_1[5]" LOC = P101;
NET "seg_1[5]" IOSTANDARD = LVTTL;
NET "seg_1[6]" LOC = P104;
NET "seg_1[6]" IOSTANDARD = LVTTL;
//NET "seg_2<7>" LOC = P35 | IOSTANDARD = LVTTL;
//NET "seg_2<8>" LOC = P33 | IOSTANDARD = LVTTL;
//NET "seg_2<9>" LOC = P30 | IOSTANDARD = LVTTL;

NET "button_right" LOC = P58;
NET "button_right" IOSTANDARD = LVTTL;
NET "button_right" PULLUP;
NET "button_up" LOC = P67;
NET "button_up" IOSTANDARD = LVTTL;
NET "button_up" PULLUP;
NET "button_down" LOC = P75;
NET "button_down" IOSTANDARD = LVTTL;
NET "button_down" PULLUP;
NET "button_left" LOC = P79;
NET "button_left" IOSTANDARD = LVTTL;
NET "button_left" PULLUP;
NET "button_select" LOC = P81;
NET "button_select" IOSTANDARD = LVTTL;
NET "button_select" PULLUP;
NET "button_reset" LOC = P111;
NET "button_reset" IOSTANDARD = LVTTL;
NET "button_reset" PULLUP;
